.chat-section-header {
    float: left;
    width: 250px;
    border-right: 1px solid #e6e6e6;
    height: 62px;
  }

.chat-section-header h3 { 
    float: left; 
    padding-left: 50px; 
}

.chat-section-header i { 
    float: right; 
    padding-right: 30px; 
    padding-top: 15px; 
    font-size: 30px; 
}

.chat-section-header i:hover{ 
    color: rgb(75, 37, 34);
    cursor: pointer;
}
.message-section-header {
    float: left;
    width: 649px;
}

.messages-container{ 
    position: relative;
}

.chat-section {
    float: left;
    width: 250px;
    border-right: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    flex-flow: column;
    padding: 0px; 
    position: absolute;
    height:500px;
    margin-top:62px; 
    overflow-y:scroll; 
}

.chat-section table { 
    width: 100%; 
    border-spacing: 0px; 
}

.chat-section tr td img{
    display: block;
    margin-right: auto; 
    margin-left: auto;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left; 
    padding-left: 5px; 
  }

.chat-section tr:hover{ 
    background-color:#e6e6e6;
    cursor: pointer;
  }

.chat-section tr td h4{
    text-align: left;  
    margin-bottom: 0px; 
    padding-left: 65px; 
  }

.chat-section tr td p{
    text-align: left;  
    margin-top: 2px;  
    overflow: hidden; 
    padding-left: 10px; 
}

.message-section {
    float: right;
    width: 629px;
    border-top: 1px solid #e6e6e6;
    padding:10px; 
    overflow-x: hidden;
    overflow-y: scroll; 
    height:415px;
    position: absolute;
    margin-top: 62px; 
    margin-left: 252px; 
}

.message-section .received { 
    clear:both; 
    padding-left: 5px; 
    margin: 10px;
}

.message-section .received img{ 
    max-height: 150px; 
    float:left; 
    padding-bottom: 10px; 
}

.message-section .received p { 
    text-align: left; 

}

.message-section .received p span{ 
    text-align: left; 
    border-radius: 15px; 
    background-color: #e6e6e6; 
    padding:5px; 
    padding-right:7px; 
    padding-left:7px; 
    overflow-wrap: break-word; 
}

.message-section .sent { 
    clear:both; 
    padding-left: 5px;  
    margin: 10px; 
}

.message-section .sent img{ 
    max-height: 150px; 
    float: right; 
    padding-bottom: 10px; 
}

.message-section .sent p { 
    text-align: right; 
}
.message-section .sent p span{  
    border-radius: 15px; 
    background-color: rgb(125, 166, 253);
    color: white; 
    padding:5px; 
    padding-right:7px; 
    padding-left:7px; 
    overflow-wrap: break-word; 
}


.input-box { 
    margin-left:250px;
    margin-top: 500px;
    width:650px;
    height: 63px; 
    background-color: #f8f8f8;
}

.input-box input[type="text"]{ 
    height: 100%;
    border: none; 
    width: 75%; 
   
}

.input-box i{ 
    font-size: 20px;
    color: grey;  
    padding: 2px; 
}
.input-box i:hover{ 
    cursor: pointer; 
    color: rgb(75, 37, 34);
}

.modal-emoji {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 480px; /* Location of the box */
    padding-left: 325px; 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
  }
  
  .modal-content-emoji {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #e6e6e6;
    border-radius: 10px; 
    width: 200px; 
    height: 150px;
    overflow-y: scroll;
    font-size: 25px; 
  }
  
  .modal-content-emoji span:hover{
    cursor: pointer;
  }

  .timestamp{
    float:right;
    clear:right;
    max-height:50%;
    background-color:inherit;
    color: rgb(125, 166, 253);
    font-size: 12px; 
    margin-right:1em;

}

