body {
  background-color: #f8f8f8;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  margin-top: 0px; 
  margin-left: 0px; 
  margin-right: 0px;
  min-height: 100%;
  
 }

 div { 
  background-color: white; 
 }

::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(216, 216, 216);
}
 .white-card { 
  max-width: 400px;
  margin-right: auto; 
  margin-left: auto; 
  padding-left: 40px; 
  padding-right: 40px; 
  padding-bottom: 20px; 
  padding-top: 20px; 
 }

 .white-card input{ 
  background-color: #f8f8f8;
  padding: 10px; 
  border: 1px solid #e6e6e6;
  width: 100%; 
  margin-bottom: 10px; 
  box-sizing: border-box; 
 }

 .white-card img{ 
  margin-right: auto; 
  margin-left: auto; 
  display: block;

 }

 .white-card button {
  background-color: rgb(153, 184, 241);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  width: 100%; 
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

 .white-card button:hover { 
   background-color: rgb(106, 146, 235);
 }

 .white-card p{ 
   color: grey; 
   text-align: center; 
 }

 .white-card th, td {
  border-bottom: 1px solid #ddd;
}
 .white-card h2{ 
  color:rgb(153, 184, 241); 
  text-align: center; 
}

 .white-card h3{ 
  color:grey; 
  text-align: center; 
}

 .white-card a{ 
  color: rgb(75, 37, 34); 
  font-weight: bold;
  text-decoration: none;
}

.white-card span {
  background:#fff; 
  padding:0 20px 0 0;
  position: relative;
  top: 10px;
 }

 .white-card-wide { 
  max-width: 900px;
  margin-right: auto; 
  margin-left: auto; 
  border: 1px solid #e6e6e6;
  overflow: hidden;
  text-align: center; 
 }

 .white-card-wide input{ 
  background-color: #f8f8f8;
  padding: 10px; 
  border: 1px solid #e6e6e6;
  width: 100%; 
  margin-bottom: 10px; 
  box-sizing: border-box; 
 }

 .white-card-wide p { 
  text-align: left; 
 }

 .white-card-wide th, td {
  border-bottom: none;
}

 .info button {
  background-color: rgb(153, 184, 241);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  width: 100%; 
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

 .info button:hover { 
   background-color: rgb(106, 146, 235);
 }

 .topnav {
  overflow: hidden;
  background-color: white;
  border: 1px solid  #e6e6e6; 
}

.topnav a {
  /*float: left;*/
  color: grey;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 30px;
    float:right;
}

.topnav img { 
  padding: 10px 20px; 
  float: left; 
}

.topnav a:hover {
  color: rgb(75, 37, 34);
}

.topnav a.active {
  color: rgb(75, 37, 34);
}

img.profile-snap{
    float:left;
    width: 15%;
    height:auto;
    border-radius:50%;
    margin-left:5%;
    margin-right:5%;
    text-align:center;
    margin-top:1em;

}
/*div.profile-snap{*/
    /*background-color:silver;*/
    /*height:7em;*/
    /*border-style:solid;*/
    /*border-width:5px;*/
    /*border-bottom:none;*/
    /*border-color:slategrey;*/
    /*float:left;*/

/*}*/
div.pinfo{
    float:left;
    background-color:inherit;
}
div.timestamp{
    float:right;
    clear:right;
    max-height:50%;
    background-color:inherit;

    margin-right:1em;

}
div.timestamp>p{
    color:green;
}
div.notification{
    float:right;
    clear:right;
    max-height:50%;
    background-color:inherit;
    margin-right:1em;

}
img.notification{
    border-radius:50%;
    max-height:20px;
    background-color:inherit;
    width:auto;
    height:20%;

    max-width:100%;
}

img.active{
    content:url("../images/exclamation.png");
}

img.non-active{
    content:url("https://dejpknyizje2n.cloudfront.net/svgcustom/clipart/preview/moon-7361-16029-300x300.png");
}

div.contacts-bar{
    display:block;

    height: auto;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    width:25%;

    top:83px;
    left: 0;


    overflow-x: hidden; /* Disable horizontal scroll */

}
ul.conversation-list{
    float:left;
    width:80%;
    list-style-type:none;
}
li.conversation{
    background-color:silver;
    height:7em;
    border-style:solid;
    border-width:1px;
    margin-top:1em;

    border-color:slategrey;
    float:left;

}
ul.chat{
    border-style:solid;
    border-width:5px;
    border-color:blue;
    margin-left:2em;
    list-style:none ;
}



.profile-pic-icon { 
  border-radius: 50%; 
  width: 100px; 
  height: 100px; 
}

.info {
  display: inline-block;
  margin: 20px;
  vertical-align: center;
}

.display-pic{
  display: block;
  margin-right: auto; 
  margin-left: auto;
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.display-pic:hover{ 
  cursor: pointer; 
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 360px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #e6e6e6;
  width: 400px;
  border-radius: 10px; 
  padding:0;
}

.modal-content h2{ 
  font-weight: 600;
  text-align: center; 
}



div.chat{
    display:block;


    height: 60%;
    width:45%;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */

    padding: 1em 1em 1em 1em;
    overflow-x: hidden; /* Disable horizontal scroll */
}

div.chat-window{
    color: rgb(75, 37, 34);
    width:47%;
    position:fixed;
    border: 1px solid #e6e6e6;
    overflow: auto;
    text-align: center;
    bottom:10%;
}

div.chat-window>textarea{
    float:left;
    text-align: left;
    width:90%;
    overflow-x: hidden; /* Disable horizontal scroll */
    border:none;
}

div.message-list{
    display:block;

}

div.from{
    text-align:center;
    float:left;

    color: #ffffff;
    width:60%;
    background-color:green;
    border-radius: 1.3em 1.3em 1.3em 1.3em;
    margin-top:0.5em;
}
div.to{
    text-align:center;
    width:60%;
    background-color: #0198ff;
    float:right;
    border-radius: 1.3em 1.3em 1.3em 1.3em;
    margin-top:0.5em;
}

div.msg{
    width:100%;
}

div.center{
    display:inline-block;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #e6e6e6;

    left:26%;
    top:100px;
    height: 80%;
    width:54%;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    text-align:center;
    padding-left:1em;
    padding-right:1em;

}

div.icons{
    float:right;
}


.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper:hover { 
  cursor: pointer !important;
}

.btn-upload {
  background-color: white;
  padding: 8px 20px;
  border: none; 
  width: 400px; 
}

.btn-upload h3 { 
  color: rgb(106, 146, 235);
}

.btn-upload:hover { 
  cursor: pointer !important;
}

.btn-remove {
  background-color: white;
  padding: 8px 20px;
  border: none; 
  width: 400px; 
}

.btn-remove:hover{ 
  cursor: pointer;
}

.btn-remove h3 { 
  color: rgb(75, 37, 34);
}
.upload-btn-wrapper input[type=file] {
  font-size: 80px;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0; 
}

.upload-btn-wrapper input[type=file]:hover {
  cursor: pointer !important;
}

