body {
  background-color: #f8f8f8;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  margin-top: 0px; 
  margin-left: 0px; 
  margin-right: 0px;
 }

 div { 
  background-color: white; 
 }

 .white-card { 
  max-width: 400px;
  margin-right: auto; 
  margin-left: auto; 
  padding-left: 40px; 
  padding-right: 40px; 
  padding-bottom: 20px; 
  padding-top: 20px; 
 }

 .white-card input{ 
  background-color: #f8f8f8;
  padding: 10px; 
  border: 1px solid #e6e6e6;
  width: 100%; 
  margin-bottom: 10px; 
  box-sizing: border-box; 
 }

 .white-card img{ 
  margin-right: auto; 
  margin-left: auto; 
  display: block;

 }

 .white-card button {
  background-color: rgb(153, 184, 241);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  width: 100%; 
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

 .white-card button:hover { 
   background-color: rgb(106, 146, 235);
 }

 .white-card p{ 
   color: grey; 
   text-align: center; 
 }

 .white-card h2{ 
  color:rgb(153, 184, 241); 
  text-align: center; 
}

 .white-card h3{ 
  color:grey; 
  text-align: center; 
}

 .white-card a{ 
  color: rgb(75, 37, 34); 
  font-weight: bold; 
  text-decoration: none;
}

.white-card span {
  background:#fff; 
  padding:0 20px 0px 0px;
  position: relative;
  top: 10px;
 }

 .white-card-wide { 
  max-width: 604px;
  margin-right: auto; 
  margin-left: auto; 
  border: 1px solid grey;
 }


 .topnav {
  overflow: hidden;
  background-color: white;
  border: 1px solid  #e6e6e6; 
}

.topnav a {
  float: left;
  color: grey;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 30px;
  float: right; 
}

.topnav img { 
  padding: 10px 20px; 
  float: left; 
}

.topnav a:hover {
  color: rgb(75, 37, 34);
}

.topnav a.active {
  color: rgb(75, 37, 34); 
}

.profile-pic-icon { 
  border-radius: 50%; 
  
}